
<div class="container">
  <h1>Lists</h1>
  <ul>
    <%@lists.each do |list|%>
     <p> <li> <%=link_to list.name, list_path(list.id)%> </li></p>
      <%end%>
  </ul>
<%= link_to "Add new list", new_list_path %>
</div>
<%= cl_image_tag("https://res.cloudinary.com/dsv81s7c0/image/upload/v1683832565/twvwdcybjem1ju61i4bx.jpg",
      width: 400, height: 300, crop: :fill) %>
